@import 'variables'

//- PAGE CATEGORIE PRODUIT
.titre-page-categorie
    height: 170px
    text-align: center
    padding-top: 15px
    padding-bottom: 20px
    background-color: $gris-clair
    h1
        padding-bottom: 15px
        font-size: 55px
        color: $orange
        text-transform: uppercase
    a
        text-decoration: none
        color: white
        background-color: $gris-fonce
        padding: 7px 7px 6px 7px
        border-radius: 30px


/* ZONE PRODUITS - BOX PRODUITS */
.zone_produit
    padding: 20px 0 10px 0
    .box_produit
        // height: 340px
        width: 19.7%
        display: inline-table
        text-align: center
        font-size: 18px
        margin-bottom: 40px
        .zone_image
            background-color: transparent
            padding: 0
            a
                display: block
                img
                    width: 100%
                    height: 100%
                    //text-decoration: none
                    //border: 1px solid red
        .zone_description
            width: 100%
            p
                font-weight: bold
                color: $gris-fonce
                text-decoration: none
        .zone_prix
            height: 100%
            p
                color: $gris-fonce
                text-decoration: none
        .zone-add
            height: 100%
            width: 100%
            margin-top: 5px
            display: block
            a
                color: $orange
                text-decoration: none
                button
                    color: $orange
                    border: none
                    background-color: white
            form
                button
                    color: $orange
                    border: none
                    background-color: white
