@import 'variables'

#depot
  h2
    color: orange
    text-align: center
    font-family: "Arial Narrow"
    font-size: 35px
  #form_depot
    text-align: center
    background-color: $gris-clair
    border-top: 2px solid darkgray
    border-bottom: 2px solid darkorange

    input, textarea, select
      border: inherit
      border-left: 4px solid orange
      border-bottom: 1px solid orange
      width: 300px
      background-color: $gris-clair
      padding: 5px
      margin-top: 5px

    input[type="file"]
      width: auto
      margin: auto
      border: inherit
    .indic
      font-style: oblique
      font-family: "Arial Narrow"
      color: grey
    input[type = "text"], input[type = "number"], textarea, select
      color: orange
    button
      border: inherit
      background-color: orange
      color: whitesmoke
      border-radius: 10px
      font-size: 30px
      font-style: italic
      font-family: impact
      padding: 5px
      width: 150px
      margin: 50px








