@import 'header'
@import 'panier'
@import 'footer'
@import 'categorie-produit'
@import 'modal-connexion'
@import 'register'
@import 'variables'
@import 'depose'
@import 'modif'
@import 'utilisateur'

body
  height: 1000px

.row
  margin-left: 0px
  margin-right: 0px
